/*BARRA DE MENU*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: -5px;
}

.logo span {
    line-height: 60px;
    font-size: 40px;
    vertical-align: middle;
}

header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}
.navigation ul{
    list-style: none;
}
.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}
.header .navigation ul li a:hover{
    background-color: #e4e2e2;
}
.header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 250px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;

}
.header .navigation ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}
.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}
.header .navigation ul li ul li{
    width: 100%;
}
.header .navigation ul li:hover > ul{
    display: initial;
}

#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu{
    width: 35px;
    height: 35px;
}
@media only screen and (max-width: 600px) {
  .logo {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: -35px; 
  }
  
  .logo img {
    width: 80px;
    height: auto;
    margin-right: -15px;
  }
  
  .logo span {
    margin: 0;
    white-space: nowrap;
  }
}
@media (max-width: 950px){
    .menu{
        /*padding-left: 0;*/
        margin-right: -18px;
       /* margin-left: 20px;*/
        padding-left: 11px;
        padding-right:-25px ;
        max-width: 50px;
    }
    .header label{
        display: initial;
    }
    .header{
        padding: 20px 10%;
    }
    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
    }
    .header .navigation ul li{
        width: 100%;

    }
    .header .navigation ul li a{
        padding: 8px, 30px, 8px, 10%;
    }
    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    .header .navigation ul li ul li{
        background-color: rgba(1, 1, 1, 0.7);
    }
    .header .navigation ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    #toggle:checked ~ .navigation{
        display: block;
    }	
 }


 
 header.abajo,
header.abajo * {
    background-color: #ffffff;
}

header.abajo .logo,
header.abajo ul li a {
    color: #000000;
}
header.abajo > .navigation > ul > li > a {
    color: #000000;
}
header.abajo > .navigation > ul > li > ul> li> a {
    color: #000000;
}
/*IMAGEN DE FONDO Y TEXTO*/
.hero{
    min-height: 80vh;
    background-image: url("img/acerca.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: multiply;
    background-color: rgba(136, 136, 136, 0.5); /* Agrega una capa de color de fondo negro semi-transparente */
 }
 .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .highlight-texto {
    position: relative; 
    top: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 5px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
  white-space: nowrap;
  }
  @media (max-width: 767px) {
    .hero {
        min-height: 80vh;
    }
    .highlight-texto {
        font-size: 14px;
    }
    .hero-content {
        flex-direction: column;
    }
    .hero-text {
        text-align: center;
    }
    .centered-text {
        max-width: 100%;
    }
}

.hero-text {
    text-align: center;
    margin-top: 80px;
  }
/*TEXTO DE IMAGEN DE FONDO*/
  .hero h1 {
    color: white; 
    font-size: 100px;
    font-family: "Times New Roman"; 
    margin-top: 20px;
  }
  .centered-text {
    text-align: center;
    color: white;
    max-width: 800px;
    margin-top: 3rm;
  }
  .hero-text p{
    margin-top: 35px;
  }
  @media screen and (max-width: 600px) {
    .hero {
      height: 80vh; /* Ajusta el alto del contenedor para pantallas pequeñas */
    }
  
    .hero h1 {
      font-size: 60px; 
      margin-top: 10px; 
    }
  
    .centered-text {
      max-width: 100%; /* Establece un ancho máximo del 100% para pantallas pequeñas */
      margin-top: 20px; /* Ajusta el margen superior para pantallas pequeñas */
    }
  
    .hero-text p {
      margin-top: 10px; /* Ajusta el margen superior para pantallas pequeñas */
    }
    .highlight-text {
        transform: scale(0.8); /* Reduce el ancho del fondo del span en un 20% en pantallas pequeñas */
      }
  }

 /*CSS para la animación de aparición de highlight-texto con javascript */
 .highlight-texto {
    opacity: 0;
    animation: fade-in 2s forwards;
  }
  
  @keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  /*---------------------------------*/
  
  /*CSS para la animación de aparición de hero h1 con javascript*/
.hero h1 {
    opacity: 0;
    animation: fade-in 3s forwards;
  }
  
  @keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  /*------------------------*/

  .centered-text{
    font-size: 20px;
  }
  /*CSS para la animación de aparición de centered-text con javascript*/
  .centered-text {
    opacity: 0;
    animation: fade-in 3.5s forwards;
  }
  
  @keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /*ANIMACION CSS*/
  .highlight-texto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, transparent 0%, rgb(197, 196, 196) 80%, transparent 100%);
    animation: typing 4s steps(40, end) infinite;
  }
  
  @keyframes typing {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
/*-------------------------------------------------------------*/

/*CARTAS*/
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    background-color: white;
    border: 1px solid;
    border-radius: 1rem;
    /*color: @gray-dark;*/
    padding: 0.5rem;
    /*margin-left: 7px;*/
    text-transform: lowercase;
    cursor: pointer;
  }
  
  .btn--block {
    display: block;
    width: 90%;
  }
   
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 7%;
  }
  
  .cards__item {
    display: flex;
    padding: 1rem;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
        width: 28%;
    }
  }
  @media (max-width: 920px) {
    .cards {
      justify-content: center;
      margin-right: 8%; /* Agregar esta regla */
    }
    /* Resto del código CSS */
  }
  @media (min-width: 2800px) {
    .cards__item {
      width: 35%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
      .card__image {
        filter: contrast(100%);
      }
    }
  }
  
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 16px;
  }
  
  .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    /*filter: saturate(180%);*/
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
    &::before {
      content: "";
        display: block;
      padding-top: 56.25%; /* 16:9 aspect ratio*/
    }
    @media(min-width: 40rem) {
      &::before {
        padding-top: 66.6%; /* 3:2 aspect ratio*/
      }
    }
  }
  
  /*.card__image--flowers {
    background-image: url(https://unsplash.it/800/600?image=82);
  }*/
  
  .card__image--river {
    background-image: url("img/ferviajes.jpg");
  }
  
  .card__image--record {
    background-image: url("img/blog.jpg");
  }
  
  .card__image--fence {
    background-image: url("img/quiensoy.webp");
  }
  
  .card__title {
    color: #767474;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  
  /*PIE DE PAGINA*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  .footer-link {
    color: #fff;
    margin-right: 10px;
  }
  .footer p{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
  }
  .iconos-sociales {
    margin-top: 5px;
    margin-bottom: 30px;
    transform: translateY(10px);
  }
  .iconos-sociales i {
    font-size: 30px;
    color:#fff;
    margin-right: 20px; 
  }
  .divide {
    display: inline-block;
    margin: 0 10px;
    line-height: 1.5;
    vertical-align: middle;
  }
  .Politicas{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif
  }
  
  @media (max-width: 767px) {
    .footer p{
        margin: 10px ;
    }
    .footer {
      padding: 10px 0;
    }
    .footer-link {
      display: block;
      margin: 5px 0;
    }
    .iconos-sociales{
      margin-left: 30px;
  }
    .Politicas {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .Politicas a {
      margin-left: 7px;
    }
  }