/*BARRA DE MENU*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: -5px;
}

.logo span {
    line-height: 60px;
    font-size: 40px;
    vertical-align: middle;
}

header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}
.navigation ul{
    list-style: none;
}
.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}
.header .navigation ul li a:hover{
    background-color: #e4e2e2;
}
.header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 250px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;

}
.header .navigation ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}
.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}
.header .navigation ul li ul li{
    width: 100%;
}
.header .navigation ul li:hover > ul{
    display: initial;
}

#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu{
    width: 45px;
    height: 35px;
}
@media only screen and (max-width: 600px) {
  .logo {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: -30px; 
  }
  
  .logo img {
    width: 80px;
    height: auto;
    margin-right: -15px;
  }
  
  .logo span {
    margin: 0;
    white-space: nowrap;
  }
}
@media (max-width: 950px){

    .header label{
        display: initial;
    }
    .header{
        padding: 20px 10%;
    }
    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
    }
    .header .navigation ul li{
        width: 100%;

    }
    .header .navigation ul li a{
        padding: 8px, 30px, 8px, 10%;
    }
    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    .header .navigation ul li ul li{
        background-color: rgba(1, 1, 1, 0.7);
    }
    .header .navigation ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    #toggle:checked ~ .navigation{
        display: block;
    }	
 }


 
 header.abajo,
header.abajo * {
    background-color: #ffffff;
}

header.abajo .logo,
header.abajo ul li a {
    color: #000000;
}
header.abajo > .navigation > ul > li > a {
    color: #000000;
}
header.abajo > .navigation > ul > li > ul> li> a {
    color: #000000;
}

/*INICIO*/

 .hero{
    min-height: 85vh;
    background-image: url("img/inicio.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .hero p {
    font-size: 2em;
    font-family: 'Your Font Name', sans-serif;
    text-align: center;
    padding-top: 50vh;
    color: white; 
    margin: 0; 
    line-height: 1.5; /*  propiedad para aumentar el espacio entre líneas */
    width: 30%; /* propiedad para darle un ancho fijo al elemento <p> */
    position: absolute;
    left: 50%; /*  propiedad para centrar el elemento <p> horizontalmente */
    transform: translateX(-50%); /*  propiedad para centrar el elemento <p> verticalmente */
    display: flex; /*  propiedad para centrar el texto verticalmente */
    align-items: center; /* propiedad para centrar el texto verticalmente */
    /*flex-wrap: wrap;  propiedad para que el texto se divida en tres líneas */
    font-weight: bold;
}

@media (max-width: 767px) {
    .hero p {
        font-size: 1.5em;
        width: 100%;
        height: 4.5em;
    }
}



.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px; 
    margin-top: 30px;
}
.logo-container img {
    width: 7%; 
    height: auto; 
}
.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente el parrafo */
    background-color: #e0dfdf;
}

.descripcion p {
    align-self: center; /* Centra horizontalmente el parrafo */
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 1.5; /* Agrega espacio entre lineas */
    width: 50%; /* Establece un ancho máximo para el parrafo */
    margin-top: 10px; 
    font-size: 20px;
}

.descripcion span {
    font-size: 30px;
    font-weight: bold;
    margin-top: 16px; 
}

/*REDEDS*/
.redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .redes-sociales a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #b8b3b3;
    border-radius: 50%;
    margin: 0 10px;
    text-decoration: none;
    font-size: 25px;
  }

  @media (max-width: 480px) {
    .logo-container img {
        width: 30%; 
    }

    .descripcion p {
        width: 100%; 
        font-size: 16px; 
    }

    .descripcion span {
        font-size: 25px; 
    }

    .redes-sociales a {
        width: 50px; 
        height: 50px; 
        font-size: 20px; 
    }
}
/*CONTAINER INICIO2.0*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .container h1 {
    margin-top: 50px;
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #3b3b3b;
  }
  .container p {
    align-self: center; /* Centra horizontalmente el parrafo */
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 1.5; /* Agrega espacio entre lineas */
    width: 50%; /* Establece un ancho máximo para el parrafo */
    margin-top: 40px; 
    font-size: 20px;
  }
  @media (max-width: 480px) {
    .container p {
      width: 95%; /* Ocupa todo el ancho de la pantalla */
    }
  }

/*IMAGENES COSTA SIERRA Y SELVA*/
* {
    font-family: arial;
  }
  
  .contenedor {
      position: relative;
      width: 100%;
      margin: 0 auto;
      transition: all 0.3s ease-out;
      margin-top: 50px;
      margin-bottom: 20px;
      display: block;
  }
  
  .contenedor-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .contenedor-cards .contenedor-card-item {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      width: 25%;
      margin: 1%;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      border-radius: 5px;
      cursor: help;
  }
  
  .contenedor-cards .contenedor-card-item:hover {
      box-shadow: 0 15px 30px rgba(0,0,0,0.3);
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
  }
  
  .contenedor-card-item-wrapper {
      overflow: hidden;
      position: relative !important;
      background: #3E2723;
      border-radius: 5px;
  }
  
  .contenedor-card-item img {
      max-width: 100%;
      position: relative;
      top: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      border-radius: 5px;
  }
  
  .contenedor-card-item .contenedor-info {
      position: absolute;
      width: 100%;
      height: 70px;
      bottom: -70px;
      -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .contenedor-card-item .contenedor-info .fondo {
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.73) 53%, rgba(0,0,0,0.88) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .contenedor-card-item .contenedor-info .info {
      color: #fff;
      position: relative;
      z-index: 500;
      padding: 20px 15px;
  }
  
  .contenedor-card-item .contenedor-info .info .titulo {
    margin: 0;
    font-size: 20px;
  }
  
  .contenedor-card-item .contenedor-info .info .categoria {
      display: block;
      font-size: 10px;
  }
  
  .contenedor-card-item:hover .contenedor-info {
      bottom: 0;
  }
  
  .contenedor-card-item:hover img {
      top: -30px;
      -webkit-transform: rotate(-5deg) scale(2);
      -ms-transform: rotate(-5deg) scale(2);
      -o-transform: rotate(-5deg) scale(2);
      transform: rotate(-5deg) scale(2);
  }
  
  @media screen and (max-width: 900px) {
      .contenedor-card-item:hover img {
      top: -30px;
      -webkit-transform: rotate(-5deg) scale(1.3);
      -ms-transform: rotate(-5deg) scale(1.3);
      -o-transform: rotate(-5deg) scale(1.3);
      transform: rotate(-5deg) scale(1.3);
    }
  
      .contenedor-card-item .contenedor-info {
          bottom: 0;
      }
  }
  
  @media screen and (max-width: 767px) {
      .contenedor {
          width: 95%;
      }
  
      .contenedor-cards .contenedor-card-item {
          width: 48%;
          margin: 1%;
      }
  }
  
  @media screen and (max-width: 550px) {
    .contenedor-cards .contenedor-card-item {
      width: 60%;
      margin: 10px auto;
    }
  }
  
  @media screen and (max-width: 480px) {
      .contenedor {
          width: 90%;
      }
    
    .contenedor-cards .contenedor-card-item {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 400px) {
      .contenedor {
          width: 100%;
      }
  }
  /*PIE DE PAGINA*/
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  .footer-link {
    color: #fff;
    margin-right: 10px;
  }
  .footer p{
    font-size: 17px;
  }
  .iconos-sociales {
    margin-top: 5px;
    margin-bottom: 0px;
    transform: translateY(10px);
  }
  .iconos-sociales i {
    font-size: 30px;
    color:#fff;
    margin-right: 20px; 
  }
  .divide {
    display: inline-block;
    margin: 0 10px;
    line-height: 1.5;
    vertical-align: middle;
  }

  @media (max-width: 767px) {
    .footer {
      padding: 10px 0;
    }
    .footer-link {
      display: block;
      margin: 5px 0;
    }
    .Politicas {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .Politicas a {
      margin-left: 7px;
    }
  }


  