/*BARRA DE MENU*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: -5px;
}

.logo span {
    line-height: 60px;
    font-size: 1.5em;
    vertical-align: middle;
}

header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}
.navigation ul{
    list-style: none;
}
.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}
.header .navigation ul li a:hover{
    background-color: #e4e2e2;
}
.header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;

}
.header .navigation ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}
.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}
.header .navigation ul li ul li{
    width: 100%;
}
.header .navigation ul li:hover > ul{
    display: initial;
}

#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu{
    width: 45px;
    height: 35px;
}
@media only screen and (max-width: 600px) {
  .logo {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: -30px; 
  }
  
  .logo img {
    width: 80px;
    height: auto;
    margin-right: -15px;
  }
  
  .logo span {
    margin: 0;
    white-space: nowrap;
  }
}
@media (max-width: 950px){

    .header label{
        display: initial;
    }
    .header{
        padding: 20px 10%;
    }
    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
    }
    .header .navigation ul li{
        width: 100%;

    }
    .header .navigation ul li a{
        padding: 8px, 30px, 8px, 10%;
    }
    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    .header .navigation ul li ul li{
        background-color: rgba(1, 1, 1, 0.7);
    }
    .header .navigation ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    #toggle:checked ~ .navigation{
        display: block;
    }	
 }


 
 header.abajo,
header.abajo * {
    background-color: #ffffff;
}

header.abajo .logo,
header.abajo ul li a {
    color: #000000;
}
header.abajo > .navigation > ul > li > a {
    color: #000000;
}
header.abajo > .navigation > ul > li > ul> li> a {
    color: #000000;
}

/*INICIO*/

 .hero{
    min-height: 100vh;
    background-image: url("img/inicio.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .hero p {
    font-size: 2em;
    font-family: 'Your Font Name', sans-serif;
    text-align: center;
    padding-top: 65vh;
    color: white; 
    margin: 0; 
    line-height: 1.5; /*  propiedad para aumentar el espacio entre líneas */
    width: 30%; /* propiedad para darle un ancho fijo al elemento <p> */
    position: absolute;
    left: 50%; /*  propiedad para centrar el elemento <p> horizontalmente */
    transform: translateX(-50%); /*  propiedad para centrar el elemento <p> verticalmente */
    display: flex; /*  propiedad para centrar el texto verticalmente */
    align-items: center; /* propiedad para centrar el texto verticalmente */
    flex-wrap: wrap; /* propiedad para que el texto se divida en tres líneas */
    font-weight: bold;
}

@media (max-width: 767px) {
    .hero p {
        font-size: 1.5em;
        width: 100%;
        height: 4.5em;
    }
}



.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px; 
    margin-top: 30px;
}
.logo-container img {
    width: 7%; 
    height: auto; 
}
.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente el parrafo */
    background-color: #e0dfdf;
}

.descripcion p {
    align-self: center; /* Centra horizontalmente el parrafo */
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 1.5; /* Agrega espacio entre lineas */
    width: 50%; /* Establece un ancho máximo para el parrafo */
    margin-top: 10px; 
    font-size: 20px;
}

.descripcion span {
    font-size: 30px;
    font-weight: bold;
    margin-top: 16px; 
}

/*REDEDS*/
.redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .redes-sociales a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #b8b3b3;
    border-radius: 50%;
    margin: 0 10px;
    text-decoration: none;
    font-size: 25px;
  }

  @media (max-width: 480px) {
    .logo-container img {
        width: 30%; 
    }

    .descripcion p {
        width: 100%; 
        font-size: 16px; 
    }

    .descripcion span {
        font-size: 25px; 
    }

    .redes-sociales a {
        width: 50px; 
        height: 50px; 
        font-size: 20px; 
    }
}
/*CONTAINER INICIO2.0*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .container h1 {
    margin-top: 50px;
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #3b3b3b;
  }
  .container p {
    align-self: center; /* Centra horizontalmente el parrafo */
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 1.5; /* Agrega espacio entre lineas */
    width: 50%; /* Establece un ancho máximo para el parrafo */
    margin-top: 40px; 
    font-size: 20px;
  }
  @media (max-width: 480px) {
    .container p {
      width: 95%; /* Ocupa todo el ancho de la pantalla */
    }
  }

/*IMAGENES COSTA SIERRA Y SELVA*/
.guides {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
}
.guide {
    text-align: center;
    position: relative;
}
.guide h2 {
    position: absolute;
    top: -20px; 
    left: 50%; 
    transform: translateX(-50%); /* Centra el <h2> horizontalmente utilizando transform */
    background-color: rgb(206, 211, 204); 
    padding: 5px; /* Agrega un poco de relleno al <h2> */
    border-radius: 15px 15px 0 0; /* Agrega bordes redondeados al <h2> */
    cursor: pointer;
}
.guide-image {
    max-width: 90%;
    height: auto;
    cursor: pointer;
}
.guide.costa img {
    width: 600px;
    height: auto;
}
.guide.sierra img {
    width: 600px;
    height: auto;
}
.guide.selva img {
    width: 680px;
    height: auto;
}
h2 {
    margin-top: 0;
}
@media (max-width: 767px) {
    .guides {
      flex-direction: column;
    }
    .guide {
      margin-top: 20px;
    }
  }
  /*PIE DE PAGINA*/
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  .footer-link {
    color: #fff;
    margin-right: 10px;
  }
  .footer p{
    font-size: 17px;
  }
  .iconos-sociales {
    margin-top: 5px;
    margin-bottom: 0px;
    transform: translateY(10px);
  }
  .iconos-sociales i {
    font-size: 30px;
    color:#fff;
    margin-right: 20px; 
  }
  .divide {
    display: inline-block;
    margin: 0 10px;
    line-height: 1.5;
    vertical-align: middle;
  }

  @media (max-width: 767px) {
    .footer {
      padding: 10px 0;
    }
    .footer-link {
      display: block;
      margin: 5px 0;
    }
    .Politicas {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .Politicas a {
      margin-left: 7px;
    }
  }


  